*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
   background-color: #f4f4f4;
}
header {
    background-color: #444;
    padding: 120px;
}

header h1 {
    font-family: "Playfair Display", serif;
    color: #fff;
    font-size: 3em;
    text-align: center;
    padding: 30px 20px;
}

header hr {
    width: 40%;
    margin: 0px auto 20px;
}

header p {
    color: rgba(255, 255, 255, 0.75);
    font-size: 1.2em;
    text-align: center;
    font-family: "Lora";
}

header a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
    border-bottom: dotted 1px;
    transition: 0.5s color;
}

header a:hover {
    border-bottom-color: transparent;
    color: red;
}

#diamante {
    background-color: white;
    width: 1200px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 40px;
    margin-top: 70px;
}

#diamante h2 {
    font-size: 3em;
    font-family: "Playfair Display", serif;
    color: rgba(0, 0, 0, 0.582);
}

#diamante p {
    font-family: "Lora";
    font-size: 1.3em;
    color: rgba(128, 128, 128, 0.699);
}

#diamante button {
    background-color: transparent;
    font-size: 1em;
    font-family: "Lora";
    width: 280px;
    height: 70px;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.5s;
}

#diamante i {
    font-size: 2.5em;
    color: grey;
    border: 1px solid black;
    border-radius: 50%;
    padding: 25px;
}

#diamante button:hover {
    color: red;
    border: 1px solid red;
}

main {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2, 1fr); 
    margin-top: 90px;
    margin-left: 180px;
}

main p{
    font-family: "Lora";
    background-color: white;
    width: 700px;
    height: 350px;
    padding: 30px;
    text-align: center;
    color: grey;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

main img {
   width: 700px;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   transform: translate(0px, 3px);
   cursor: pointer;
   transition: 0.2 ease;
}

main > p {
    transform: translate(0px, 250px);
}

main h2 {
    color: white;
    font-family: "Playfair Display", serif;
    text-align: center;
}

.btnm {
    width: 100px;
    height: 50px;
    background-color: white;
    border: 1px solid black;
    transition: 0.5s;
    cursor: pointer;
}

.btnm:hover {
    color: red;
    border: 1px solid red;
}