* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(173, 216, 230, 0.555);
    width: 100vw;
    height: 100vh;
}

img#imagem {
    width: 360px;
}

main {
    background-color: white;
    width: 400px;
    height: 560px;
    border-radius: 20px;
    margin: 0 auto;
    padding: 20px;
    transform: translate(0px , 110px);
}

h2, p {
    margin: 20px;
}

h2 {
    font-size: 1.4em;
}

p{
    color: grey;
}