@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(#ECEFFE, #CED6FB);
}

.card-link {
    text-decoration: none;
}

.card-link p {
    color: black;
}

.card1 {
    background-color: white;
    padding: 30px;
    width: 400px;
    border-radius: 15px;
    border: 2px solid transparent;
    transition: 0.4s ease;
}

.card1:hover {
    border-color: #5372f0;
}

.card1 img {
    width: 350px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.card1 h2 {
    display: block;
    font-size: .8rem;
    color: #5372f0;
    background-color: #DDE4FF;
    margin: 16px 0px 18px;
    padding: 8px 16px;
    font-weight: 500;
    width: fit-content;
    border-radius: 50px;
}

.card1 p {
    margin: 16px 0px 16px;
    font-weight: 500;
}

.card1 button {
    cursor: pointer;
    background: none;
    color: #5372f0;
    border: 2px solid #5372f0;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    margin-top: 10px;
    transform: rotate(-45deg);
    transition: 0.4s ease;
}

.card1:hover .card-link button {
    color: white;
    background: #5372f0;
}