* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: lightblue;
    font-size: 1em;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-image: url(pexels-andrew-3178818.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header {
    width: 50%;
    margin: 20px auto;
    background-color: rgba(128, 128, 128, 0.849);
    color: white;
    padding: 30px;
}

header h1 {
    text-align: center;
}

main {
  background-color: rgba(128, 128, 128, 0.842);
  width: 75%;
  margin: 20px auto;
  height: 980px;
  line-height: 1.1em;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.473);
}

form {
    margin-bottom: 15px;
}
input[type="text"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

input[type="email"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

select {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin: 10px 0px;
}

input[type="radio"]{
    margin: 15px 5px;
}

input[type="checkbox"]{
    margin: 15px 5px;
}

textarea {
    height: 50px;
    margin: 10px;
}

button {
  background-color: black;
  margin-top: 10px;
  color: white;
  width: 100%;
  padding: 10px;
  border: none;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

button:hover {
    background-color: white;
    color: black;
    transition: .5s;
}

span {
    display: block;
    margin-bottom: 10px;
}

input, select, textarea, option {
    font-weight: bold;
}
