* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-size: 1em;
    width: 100vw;
    height: 100vh;
    background-color: #ffd99a;
}

main {
    background-color: white;
    width: 750px;
    height: auto;
    line-height: 2.5em;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    border-radius: 10px;
}

h1 {
    font-family: "Over the Rainbow", cursive;
    color: #986e62;
}

p, span {
    font-family: "Outfit", serif;
    font-weight: normal;
}

section > img {
    width: 100%;
}

h2 {
    font-family: "Young Serif", serif;
    color: #986e62;
    padding: 8px;
}

hr {
    margin: 10px;
}

ul li::marker {
    color: #986e62;
}

ol li::marker {
    color: brown;
    font-weight: bold;
}

ul#ingred {
    padding-left: 15px;
}

ol#instru {
    padding-left: 15px;
}

#prp {
    margin-top: 10px;
    background-color: rgba(255, 182, 193, 0.2);
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    gap: 10px;
}

#prp > h2 {
    font-size: 1.3em;
    font-family: "Outfit", serif;
    color: purple;
}

#prp > ul > li{
    font-size: 1em;
    transform: translate(15px, 0px);
}

#prp > ul > li::marker {
    color: purple;
}

