* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    padding-bottom: 15px;
}

body {
    font-size: 1em;
    width: 100vw;
    height: 100vh;
    background-color: rgba(144, 238, 144, 0.336);
    font-family: "Karla";
}

main {
    background-color: white;
    width: 900px;
    height: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    transform: translate(0px, 90px);
}


input[type="email"] {
    width: 100%;
    height: 100%;
    padding: 10px;
    margin: 30px 0px;
}

#email {
    display: block;
}

#email-container {
    display: block;
    margin-bottom: 20px;
}

#gnr, #prq {
    border: 2px solid black;
    padding: 10px;
    margin: 0px 5px;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    margin: 30px 0px;
}

span {
    display: block;
    transform: translate(0px, 20px);
}

input[type="submit"] {
    width: 100%;
    padding: 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

input[type="submit"]:hover {
    background-color: #01e70c;
    transition: .5s;
}

input[type="text"] {
    width: 30%;
    height: 30%;
    padding: 10px;
    margin-right: 10px;
}

.check {
    transform: translate(20px, -20px);
}