* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 1em;
    font-family: "Figtree", serif;
    width: 100vw;
    height: 100vh;
    background-color:#F6D050;
    overflow: hidden;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; 
}

section > div {
    background-color: white;
    display: flex;
    flex-flow: column nowrap;
    flex: auto;
    width: 350px;
    height: 510px;
    padding: 25px; 
    margin: 20px;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 5px 5px 0px rgb(0, 0, 0);
    line-height: 2.0em;
}

img#img {
    margin-bottom: 10px;
}

img#greg {
    width: 50px;
    padding: 10px;
}

p#pl1 {
    background-color: #F6D050;
    font-weight: bolder;
    width: 30%;
    text-align: center;
}